{% extends "index.html" %}
{% block content %}
<div class="quiz-container">
    <h2>{% if session.get('lang', 'tr') == 'en' %}Quiz Mode{% else %}Quiz Modu{% endif %}</h2>
    <p><strong>{% if session.get('lang', 'tr') == 'en' %}Question:{% else %}Soru:{% endif %}</strong> {{ question_num }} / {{ total_questions }}</p>

    <div class="image-container">
        <!--<img src="{{ url_for('photos', filename=question.photo_path) }}" alt="Quiz Görseli">-->
        <img src="{{ question.photo_path }}" alt="Quiz Görseli">
    </div>

    {% if message %}
    <div class="feedback">
        <p>{{ message }}</p>
    </div>
    {% endif %}

    <form method="POST">
        <div class="answer-buttons">
            {% for option in question.options %}
                <button type="submit" name="answer" value="{{ option }}">{{ option }}</button>
            {% endfor %}
        </div>
    </form>

    <div class="restart-container">
        <button class="restart-button" onclick="window.location.href='{{ url_for('quiz_restart') }}'">
            {% if session.get('lang', 'tr') == 'en' %}Restart Quiz{% else %}Yeniden Başla{% endif %}
        </button>
    </div>
</div>
<script>
    window.addEventListener("unload", function() {
        navigator.sendBeacon("{{ url_for('quiz_restart') }}");
    });
</script>
{% endblock %}
